
.container{
    background-color: rgb(24, 24, 40);
    height: 55px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    color:white;
    margin: 0px;
    font-size: x-large;
    font-weight: 500;
    letter-spacing: 0.07rem;
}

.button{
    padding: 50px;
}